<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Blog</title>
    <style type="text/css" media="screen">
      body { color: #efd; background: #453; padding: 0 5em; margin: 0; }
      h1 { padding: 2em 1em; background: #675; }
      h2 { color: #bf8; border-top: 1px dotted #fff; margin-top: 2em; }
      p { margin: 1em 0; }
    </style>
  </head>
  <body id="base">    
    <h1>mysite.example.com</h1>
    {% block content %}
    {% endblock %}
  </body>
</html>